/* Navbar Menu */
body {
    height: 300vh;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #333;
    
}

nav{
    z-index: 1;
    display: flex;
    position: absolute;
    padding-top: 5vh;
    width: 99%;
    height: 50px;
    background-color: rgba(29, 31, 34, 0.3);
}

nav .logo{
    margin-right: 23px;
}
nav .logo img{
    margin-top: -50px;
    margin-left: 40px;
    width: 130px;
    height: auto;
    opacity: 80%;
}

nav ul{
    position: absolute;
    display: inline-block;
    left: 25%;
}
nav ul li{
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 0px 50px 20px;
    font-size: 20px;
    color: #F5F5F5;

}
nav ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    transition: 0.3s;
    transform: scaleX(0);
}

nav ul li:hover{
    color: rgb(76, 189, 255);
    cursor: pointer;
}
nav ul li:hover::after{
    width: 100%;
    left: 0%;
    transform: scaleX(1);

}

nav .login{
    position:absolute;
    margin-right: 110px;
    margin-top: -30px;
    padding: 10px 10px;
    width: 75px;
    font-size: 30px;
    height: auto;
    color: #F5F5F5;
    right: 0;
    border: 2px solid rgb(22, 83, 175, 0.3);
    border-radius: 20%;
    background-color: rgb(22, 83, 175, 0.3);
    box-shadow: 4px 4px 7px black;
    cursor: pointer;
    transition: transform 0.2s ease;
}

nav .login:active{
    transform: scale(0.9);
    background-color: #f5f5f5;
    color:  rgb(22, 83, 175);
    border: 2px solid #F5F5F5;
}
/* Hero Section */

section.hero {
    position: relative;
    padding-top:200px;
    width: 100%;
    height: 740px;
    text-align: center;
    background-image: url(..//img/background2.jpg);
    background-size: cover;
}

section.hero .efek-transparancy{
    position:absolute;
    background:linear-gradient(to bottom, rgb(255, 255, 255,0), rgb(255, 255, 255,1)80%);
    width: 100%;
    height: 35%;
    margin-top: 460px; 
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero .hero-content h2{
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 40, 95, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
    margin-bottom: 30px;
}

.hero .hero-content h1{
    font-size: 120px;
    margin-top: -40px;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h4{
    font-size: 25px;
    font-style: italic;
    margin-top: -40px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h4 span{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h3{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: rgba(158, 194, 248, 0.9);
    text-shadow: 1px 1px 6px rgb(1, 33, 68), 2px 2px 8px rgb(2, 34, 70);
}

.hero .button{
    position:absolute;
    margin-right: 110px;
    padding: 10px 10px;
    width: 350px;
    font-size: 40px;
    height: auto;
    color: #F5F5F5;
    left: 50%;
    border: 2px solid rgb(22, 83, 175, 0.5);
    border-radius: 50%;
    background-color: rgb(22, 83, 175, 0.5);
    box-shadow: 3px 3px 8px black, 3px 3px 4px black;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: translateX(-50%);
}

.hero .button:active{
    transform: translateX(-50%) scale(0.9);
    background-color: rgb(245, 245, 245,0.7);
    color:  rgb(22, 83, 175);
    border: 2px solid #F5F5F5;
}

/* visi misi*/

section.visi_misi{
    margin-top: 100px;
    display: flex;
}

section.visi_misi .foto{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
    height: auto;
    width: 1600px;
}

section.visi_misi .foto img{
    width: 100%;
    height: auto;
}


section.visi_misi .content{
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 150px;
    text-align: justify;
}


section.visi_misi .content h1{
    font-size: 50px;
    font-family: 'Merriweather', serif;
    color: #333;
}

section.visi_misi .content p{
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

/* Jadwal */

section.jadwal{
    padding-right: 60px;
    padding-left: 105px;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-top: 150px;
    width: 100%;
    height: auto;
    background-color: rgb(1, 15, 77,0.1);
}

section.jadwal .jadwal_content .item .container img{
    width: 100%;
    height: 100%;
    position: relative;
}

section.jadwal .jadwal_content{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    padding-left: 30px;
    padding-top: 130px;
}

section.jadwal .jadwal_content .item{
    display: flex;
    width: 380px;
    height: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid rgb(1, 85, 212);
    border-radius: 10px;
    transition: all 0.3s;
}

section.jadwal .jadwal_content .item:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    background-color: rgb(1, 85, 212,0.1);
    color: white;
}

section.jadwal .jadwal_judul{
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(1, 85, 212);
    text-shadow: 1px 1px 2px white;
    
}

section.jadwal .jadwal_content .item .container{
    position: relative;
    width: 200px;
    height: 150px;
    margin-right: 15px;
}
section.jadwal .jadwal_content .item .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
    top: 0;
    opacity: 0.6;
}

section.jadwal .jadwal_content .item:nth-child(1) .container::before{
    content: "Ibadah Umum";
}
section.jadwal .jadwal_content .item:nth-child(2) .container::before{
    content: "Komsel";
}
section.jadwal .jadwal_content .item:nth-child(3) .container::before{
    content: "PPK";
}
section.jadwal .jadwal_content .item:nth-child(4) .container::before{
    content: "PWK";
}
section.jadwal .jadwal_content .item:nth-child(5) .container::before{
    content: "PRBK";
}
section.jadwal .jadwal_content .item:nth-child(6) .container::before{
    content: "Sekolah Minggu";
}

section.jadwal .jadwal_content .item .container::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
    z-index: 2;
    text-align: center;

}

section.jadwal .jadwal_content .item .container_content h3{
    font-size: 25px;
    margin-top: 2px;
}
section.jadwal .jadwal_content .item:nth-child(1) .container_content h3{
    font-size: 22px;
    margin-top: 30px;
}
section.jadwal .jadwal_content .item:nth-child(2) .container_content h3{
    font-size: 22px;
    margin-top: 30px;
}
section.jadwal .jadwal_content .item:nth-child(5) .container_content h3{
    font-size: 22px;
    margin-top: -5px;
}
section.jadwal .jadwal_content .item .container_content{
    text-align: center;
    width: 180px;
    position: relative;
}

section.jadwal .jadwal_content .item .container_content .garis{
    position: absolute;
    bottom: 45%;
    width: 180px;
    height: 2px;
    background-color: #333;
}

section.jadwal .jadwal_content .item .container_content p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

section.renungan {
    width: 84%;
    margin:-100px 8% 0px 8%;
    height: auto;
    background-color: rgb(0, 1, 24);  
    border: 2px solid white;
    box-shadow: 1px 1px 5px rgb(3, 3, 3);
}

section.renungan .judul{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #cbe1fa;
    padding: 50px 0px 80px;
}

section.renungan .container{
    display: flex;
    padding: 0px 120px 0px 90px;
}

section.renungan .content{
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 80px;
    text-align: justify;
    width: 120%;
}

section.renungan .content h1{
    color: #97a9be;
    font-size: 40px;
}

section.renungan .content h5{
    color: #97a9be;
    font-size: 15px;
    font-style: italic;
    margin-top: -20px 0px;
}

section.renungan .content h3{
    color: #97a9be;
    font-size: 15px;
    margin-bottom: 50px;

}
section.renungan .content p,i{
    color: #97a9be;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.renungan .gambar{
    position: relative;
    width: 80%;
}


section.renungan .gambar img{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
    
}

/* Maps dan Pertanyaan */
section.lokasi_pertanyaan{
    width: 89.3%;
    height: auto;
    padding: 100px;
    background-color: rgb(1, 15, 77,0.1);
    margin-top: -80px;
    display: flex;
    
}
section.lokasi_pertanyaan .maps{
    padding-top:110px ;
    margin-left: 60px;
}
section.lokasi_pertanyaan .pertanyaan{
    width: 100%;
    height: auto;
   text-align: center;
   padding-top: 100px; 
}
section.lokasi_pertanyaan .pertanyaan h1, span{
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.lokasi_pertanyaan .pertanyaan span{
    color: white;
    text-shadow: 1px 1px 10px black;
}
section.lokasi_pertanyaan .pertanyaan h1{
    margin-top: 0px;
    color: #333;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian{
    width: 80%;
    margin: 0px 10px;
    margin-left: 60px;
    height: 730px;
    background-color: rgb(1, 15, 77,0.1);
    position: relative; 
    
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .nama,.email,textarea{
    width: 80%;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .nama {
    margin-top: 100px;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian textarea {
    height: 300px;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim {
    width: fit-content;
    height: auto;
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim:hover{
    color: white;
    background-color:#0756b1;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 4px black;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim:active{
    transform: scale(0.9);
    box-shadow: 3px 3px 4px black;
}
/* footer */

footer{
    width: 100%;
    height: auto;
    padding: 40px 0px 20px;
    background-color:rgb(51, 51, 51,0.9);
}

footer .container-about {
    display: flex;
    padding: 0px 100px; 
    justify-content: center;
}

footer .container-about div{
      margin: 0px 0px;
}

footer .container-about div ul li ,H1, H2{
    color: #ced5e0;
}

footer .container-about .info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -50px;
    margin-right: 100px;
    margin-top: -30px;
}
footer .container-about .info .logo{
    width: 400px;
    height: auto;   
    margin-top: 25px;
    margin-right: -180px;
}
footer .container-about .info .logo img{
    width: 100%;
}
footer .container-about .info .text {
    width: 100%;
    margin-left: 210px;
}
footer .container-about .info .text h1{
    width: 50%;
    font-size: 59px;
    margin-bottom: -10px;
    width: 100%;
}
footer .container-about div h3{
    font-size: 10px;
    font-style: italic;
    margin-bottom: -20px;
}

footer .container-about .about{
    width: 100%;
    margin-top: 20px;
}
footer .container-about .about ul li{
    font-size: 30px;
    padding: 10px;
    display: flex;
}
footer .container-about .about ul li .icon{
    stroke: white;
    margin-right: 20px;
    margin-top: 7px;
    scale: 1.5;
}

footer .container-about .about{
    width: 500vh;
    margin-top: 70px;
}
footer .container-about .about ul li{
    font-size: 30px;
    padding: 10px;
    display: flex;
}
footer .container-about .about ul li:hover{
    color: #79b3f5;
    cursor: pointer;
}
footer .container-about .about ul li:hover .icon{
    stroke:#79b3f5;
}
footer .container-about .menu{
    width: 100%;
    margin-top: 20px;
}
footer .container-about .menu ul li{
    font-size: 30px;
    padding: 10px;
    display: flex;
}
footer .container-about .menu ul li:hover{
    color: #79b3f5;
    cursor: pointer;
}
footer .copyright{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-style: italic;
}



/* Layar tablet 768px */
@media only screen and (max-width: 768px) {
    section.hero{
        margin: -8px 0px 0px -8px;
        width: 102.1%;
    }
    section.jadwal{
        padding-left:22.5vh;
        width: 76%;
    }
    section.lokasi_pertanyaan {
        display: flex;
        flex-wrap: wrap;
        width: 570px;
    }
    section.lokasi_pertanyaan .maps iframe{
        width:640px;
        height:650px;
        margin-left: -100px;
    }
    section.lokasi_pertanyaan .pertanyaan{
        width: 630px;
        height:850px;
        margin-left: -100px;
    }
    section.lokasi_pertanyaan .pertanyaan span, h1{
        margin-left: 18%;
    }
    section.lokasi_pertanyaan .pertanyaan .kotak_isian{
        width: 100%;
    }
}

/* layar HP Android 480px */
@media only screen and (max-width: 480px) {
}