/* Navbar Menu */
:root {
    --hover: rgb(76, 189, 255);
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
  }
body {
    height: 300vh;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #333;
    
}

nav{
    z-index: 1;
    margin-left: -1%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 2vh 0px;
    width: 100.6%;
    height: auto;
    background-color: rgba(29, 31, 34, 0.3);
}
nav .logo{
    display: flex;
    flex-basis: 15%;
    align-items: center;
    padding-left: 3%;
}
nav .logo img{
    width: 130px;
    height: auto;
    opacity: 80%;
}

nav .menu{
    display: flex;
    flex-basis: 70%;
    flex-wrap: wrap;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: end;
}
nav .menu ul li{
    text-decoration: none;
    padding: 0px 50px 20px;
    font-size: 25px;
    color: #F5F5F5;
    position: relative;

}
nav .menu ul li::after{
    position: absolute;
    content: "";
    left: 50%;
    bottom: -39%;
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    transition: 0.3s;
    transform: scaleX(0);
}

nav .menu ul li:hover{
    color: rgb(76, 189, 255);
    cursor: pointer;
}
nav .menu ul li:hover::after{
    width: 100%;
    left: 0%;
    transform: scaleX(1);

}
nav .search{
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);
}
nav .search svg{
    stroke: #F5F5F5;
    width: 30px;
    height: auto;

}
nav .search svg:hover{
    stroke: var(--hover);
    cursor: pointer;
}

/* Hero Section */
section.hero .background{
    position: absolute;
    background-image: url(..//img/background2.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    margin-top:-200px;
    background-attachment: fixed;
}
section.hero {
    position: relative;
    padding-top:200px;
    width: 100.95%;
    height: 740px;
    text-align: center;
    background-color:rgb(0, 0, 0,0);
    background-attachment: fixed;
    background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
}

section.hero .efek-transparancy{
    position:absolute;
    background:linear-gradient(to bottom, rgb(255, 255, 255,0), rgb(255, 255, 255,1)80%);
    width: 100%;
    height: 35%;
    margin-top: 460px; 
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.hero .hero-content h2{
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 40, 95, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
    margin-bottom: 30px;
}

.hero .hero-content h1{
    font-size: 120px;
    margin-top: -40px;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h4{
    font-size: 25px;
    font-style: italic;
    margin-top: -40px;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h4 span{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: rgba(4, 38, 90, 0.9);
    text-shadow: 1px 1px 6px rgb(158, 202, 252), 2px 2px 8px rgb(158, 202, 252);
}

.hero .hero-content h3{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: rgba(158, 194, 248, 0.9);
    text-shadow: 1px 1px 6px rgb(1, 33, 68), 2px 2px 8px rgb(2, 34, 70);
}

.hero .button{
    position:absolute;
    margin-right: 110px;
    padding: 10px 10px;
    width: 350px;
    font-size: 40px;
    height: auto;
    color: #F5F5F5;
    left: 50%;
    border: 2px solid rgb(22, 83, 175, 0.5);
    border-radius: 50%;
    background-color: rgb(22, 83, 175, 0.5);
    box-shadow: 3px 3px 8px black, 3px 3px 4px black;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: translateX(-50%);
}

.hero .button:active{
    transform: translateX(-50%) scale(0.9);
    background-color: rgb(245, 245, 245,0.7);
    color:  rgb(22, 83, 175);
    border: 2px solid #F5F5F5;
}

/* visi misi*/

section.visi_misi{
    margin-top: 100px;
    display: flex;
}

section.visi_misi .foto{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 100px;
    height: auto;
    width: 1600px;
}

section.visi_misi .foto img{
    width: 100%;
    height: auto;
}


section.visi_misi .content{
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 150px;
    text-align: justify;
}


section.visi_misi .content h1{
    font-size: 50px;
    font-family: 'Merriweather', serif;
    color: #333;
}

section.visi_misi .content p{
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

/* Jadwal */

section.jadwal{
    position: relative;
    padding-right: 60px;
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-top: 150px;
    width: 89.8%;
    margin-left: -10px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
}
section.jadwal .background-jadwal{
    position: absolute;
    margin-top: -6rem;
    margin-left: -9.5rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-image: url(../img/background-jadwal.jpg);
    background-attachment: fixed;
}


section.jadwal .jadwal_content .item .container img{
    width: 100%;
    height: 100%;
    position: relative;
}

section.jadwal .jadwal_content{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    padding-left: 30px;
    padding-top: 130px;
}

section.jadwal .jadwal_content .item{
    display: flex;
    width: 380px;
    height: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid rgb(1, 85, 212);
    border-radius: 40px 5px 40px 5px;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
}

section.jadwal .jadwal_content .item:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 1px 1px 2px black;
    background-color: rgba(223, 232, 243, 0.8);
}

section.jadwal .jadwal_judul{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255,0.1);
    text-shadow: 1px 1px 2px white;
    
}

section.jadwal .jadwal_content .item .container{
    position: relative;
    width: 200px;
    height: 150px;
    margin-right: 15px;
}
section.jadwal .jadwal_content .item .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
    top: 0;
    opacity: 0.6;
}

section.jadwal .jadwal_content .item:nth-child(1) .container::before{
    content: "Ibadah Umum";
}
section.jadwal .jadwal_content .item:nth-child(2) .container::before{
    content: "Komsel";
}
section.jadwal .jadwal_content .item:nth-child(3) .container::before{
    content: "PPK";
}
section.jadwal .jadwal_content .item:nth-child(4) .container::before{
    content: "PWK";
}
section.jadwal .jadwal_content .item:nth-child(5) .container::before{
    content: "PRBK";
}
section.jadwal .jadwal_content .item:nth-child(6) .container::before{
    content: "Sekolah Minggu";
}

section.jadwal .jadwal_content .item .container::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    font-size: 40px;
    z-index: 2;
    text-align: center;

}

section.jadwal .jadwal_content .item .container_content h3{
    font-size: 25px;
    margin-top: 2px;
}
section.jadwal .jadwal_content .item:nth-child(1) .container_content h3{
    font-size: 22px;
    margin-top: 30px;
}
section.jadwal .jadwal_content .item:nth-child(2) .container_content h3{
    font-size: 22px;
    margin-top: 30px;
}
section.jadwal .jadwal_content .item:nth-child(5) .container_content h3{
    font-size: 22px;
    margin-top: -5px;
}
section.jadwal .jadwal_content .item .container_content{
    text-align: center;
    width: 180px;
    position: relative;
}

section.jadwal .jadwal_content .item .container_content .garis{
    position: absolute;
    bottom: 45%;
    width: 180px;
    height: 2px;
    background-color: #333;
}

section.jadwal .jadwal_content .item .container_content p{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* galeri */
section.galeri {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
}

section.galeri .judul{
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    color: #cbe1fa;
    margin-top: -3%;
    padding: 30px 0px 30px;
    width: 80%;
    height: auto;
    background-color: rgb(0, 1, 24);  
    border: 2px solid white;
    box-shadow: 1px 1px 5px rgb(3, 3, 3);
}
section.galeri .container-galeri{
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap:20px;
    padding: 20px;
    justify-content: center;
    width: 80%;
    margin-left: -1%;
    padding-left: 1%;
}

section.galeri .container-galeri .img-container{
    overflow: hidden;
}
section.galeri .container-galeri .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    transition: transform 0.5s ease-in-out, transform-origin 0.1s ease-in-out;
}


section.galeri .container-galeri .img-container.zoom img{
    transform:scale(1.1);
}
section.galeri .container-galeri div:nth-child(1){
    grid-column:2/4;
    grid-row:1/3;
}
section.galeri .container-galeri div:nth-child(2){
    grid-column:1/2;
    grid-row:1/4;
}
section.galeri .container-galeri div:nth-child(3){
    grid-column:4/5;
    grid-row:1/2;
}
section.galeri .container-galeri div:nth-child(4){
    grid-column:4/5;
    grid-row:2/3;
}
section.galeri .container-galeri div:nth-child(5){
    grid-column:2/3;
    grid-row:3/4;
}
section.galeri .container-galeri div:nth-child(6){
    grid-column:3/5;
    grid-row:3/4;
}


/* Maps dan Pertanyaan */
section.lokasi_pertanyaan{
    width: 86.65%;
    height: auto;
    padding: 100px;
    background-color: rgb(1, 15, 77,0.1);
    display: flex;
    margin-left: -10px;
    padding-left: 9%;
    margin-top: 3%;
    
}
section.lokasi_pertanyaan .maps{
    padding-top:110px;
    flex-basis: 50%;
}
section.lokasi_pertanyaan .maps iframe{
    width:100%;
    height:100%;  
     
}
section.lokasi_pertanyaan .pertanyaan{
    height: auto;
   text-align: center;
   padding-top: 100px; 
   flex-basis: 50%;
   margin-left: -2%;
   display: flex;
   justify-content: center;
}
section.lokasi_pertanyaan .pertanyaan h1, span{
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.lokasi_pertanyaan .pertanyaan span{
    color: white;
    text-shadow: 1px 1px 10px black;
}
section.lokasi_pertanyaan .pertanyaan h1{
    margin-top: 0px;
    color: #333;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian{
    margin: 9px 20px 0px 80px;
    height: 730px;
    background-color: rgb(1, 15, 77,0.1);
    position: relative;
    padding-top: 25px; 
    
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .nama,.email,textarea{
    width: 80%;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .nama {
    margin-top: 0px;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian textarea {
    height: 300px;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim {
    width: fit-content;
    height: auto;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim:hover{
    color: white;
    background-color:#0756b1;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 4px black;
}

section.lokasi_pertanyaan .pertanyaan .kotak_isian .btn_kirim:active{
    transform: scale(0.9);
    box-shadow: 3px 3px 4px black;
}
/* footer */
footer {
    width: 101.44%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 211, 223);
    margin-left: -1%;
}
footer .container-info{
    width: 100%;
    flex-basis: 70%;
    display: flex;
    
}
footer .container-info .info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    flex-basis: 50%;
    padding-left: 7%;
}
footer .container-info .info .logo{
    display: flex;
    width: 30%;
    margin-right: 6%;
}
footer .container-info .info .logo img{
    width: 100%;
    height: auto;
}
footer .container-info .info .text{
    width: 100%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

footer .container-info .info .text h1,h2{
    color:#333;
}
footer .container-info .info .text h1{
    font-size: 367%;
    margin-bottom: 1%;
    margin-top: 2%;
}
footer .container-info .info .text h2{
    margin-top: 1%;
    margin-left: 1%;
}

footer .container-info .menu{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    margin-left: 0%;
}
footer .container-info .menu ul:nth-child(2){
    padding-left: 40%;
}
footer .container-info .menu ul li{
    padding: 10px;
    font-size: 25px;
}

footer .container-info .info ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-left: -12%;
}
footer .container-info .info ul li{
    padding: 0px 15px;
    display: flex;
    align-items: center;
    font-size: 25px;
    
}
footer .container-info .info ul li svg{
    padding: 0px 10px;
}
footer .copyright {
    display: flex;
    justify-content: center;
    padding:2% 0%;
    font-size: 20px;
    font-style: italic;
}

/* Layar tablet 768px */
@media only screen and (max-width: 768px) {
    nav {
        width: 99%;
    }
    nav .logo{
        margin-top: 14px;
        margin-left: -25px;
    }
    nav .logo img{
        width: 100px;
    }

    nav .login{
        margin: -20px 15px 0px 0px;
        width: 40px;
        font-size: 17px;
    }

    nav .menu ul li{
        margin-left: -5px;
        padding: 15px;
        font-size: 18px;
        margin-top: -10px;
        padding-bottom: 24px;
    }

    section.hero{
        margin: -8px 0px 0px -8px;
        width: 102.1%;
        padding-top: 350px;
    }
    section.hero .hero-content h2{
        width: 100%;
        font-size: 40px;
    }
    section.hero .hero-content h1{
     font-size: 70px;   
     margin-left: -20px;
    }
    section.hero .hero-content h4{
        padding: 0px 20px;
        font-size: 20px;
       }
    section.hero .hero-content h3{
        font-size: 20px;
       }
       section.hero .button{
        font-size: 18px;
        width: 140px;
       }
    section.visi_misi{
        display: flex;
        flex-wrap: wrap;
    }
    section.visi_misi .foto{
        width: 60%;
        margin-left: 20%;
    }
    section.visi_misi .content h1{
        margin-left: 0%;
    }
    section.visi_misi .content p{
        width: 115%;
        margin-left: 1%;
        font-size: 30px;
    }
    
    section.jadwal{
        width: 74.5%;
        padding-bottom: 40%;
    }
    section.jadwal .jadwal_judul{
        font-size: 50px;
        margin-left: -0.5%;
    }
    section.jadwal .jadwal_content .item{
        margin-left:-2%;
        margin-bottom:-80px ;
    }
    section.renungan .container{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        padding-left: 0%;
        margin-left: 5%;
    }
    section.renungan .container .gambar{
        width: 80%;
        height: 400px;
        margin-left: 15%;
        margin-top: -5%;
        margin-bottom: 5%;
    }
    section.renungan .container h1{
        margin-left: 0%;
    }

    section.lokasi_pertanyaan {
        display: flex;
        flex-direction: column;
        width: 80.1%;
    }
    section.lokasi_pertanyaan .maps iframe{
        width: 106%;
        height:650px;
        margin-top: -10%;
    }
    section.lokasi_pertanyaan .pertanyaan{
        width: 125%;
        height:850px;
        margin-left: -15%;
        margin-top: -10%;
    }
    footer{
        width: 102%;
        margin-left: -1%;
    }
    footer .container-info{
        display: flex;
        justify-content: space-between;
        
    }
    footer .container-info .info{
        flex-basis: 70%;
        padding-left:0% ;
    }
    footer .container-info .info .text ul{
        justify-content: left;
        margin-left: -1%;
    }
    footer .container-info .info .text ul li{
        padding: 5px;
    }
    footer .container-info .info .logo{
        width: 0;
    }
    footer .container-info .info .text h1{
        font-size: 315%;
    }
    footer .container-info .menu{
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        margin-right: 10%;
    }
    footer .container-info .menu ul:nth-child(2){
        padding-left: 0%;
    }
}

/* layar HP Android 480px */
@media only screen and (max-width: 480px) {
    nav {
        width: 73%;
        margin-left: -1%;
        display: flex;
        justify-content: right;
    }
    nav .hamburger-menu{
        flex-basis: 50%;
        display: flex;
        justify-content: left;
    }
    nav .search{
        flex-basis: 50%;
        display: flex;
        justify-content: left;padding-left: 7%;
    }
    nav .logo{
        display: none;
    }
    nav .logo img{
        width: 100px;
    }

    nav .login{
        margin: -20px 15px 0px 0px;
        width: 40px;
        font-size: 17px;
    }
    nav .menu{
        position: absolute;
        right: -9px;
        top: 120px;
        width: 10rem;
        background-color: rgba(203, 224, 238);
    }
    nav .menu ul{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    nav .menu ul li{
        padding: 15px;
        font-size: 18px;
        margin-top: -10px;
        padding-bottom: 24px;
        color: #333;
    }

    section.hero{
        margin: -8px 0px 0px -8px;
        width: 77.4%;
        padding-top: 350px;
    }
    section.hero .hero-content h2{
        width: 100%;
        font-size: 40px;
    }
    section.hero .hero-content h1{
     font-size: 70px;   
     margin-left: -20px;
    }
    section.hero .hero-content h4{
        padding: 0px 20px;
        font-size: 20px;
       }
    section.hero .hero-content h3{
        font-size: 20px;
       }
       section.hero .button{
        font-size: 18px;
        width: 140px;
       }
    section.visi_misi{
        display: flex;
        flex-wrap: wrap;
    }
    section.visi_misi .foto{
        width: 60%;
        margin-left: 20%;
    }
    section.visi_misi .content h1{
        margin-left: 0%;
    }
    section.visi_misi .content p{
        width: 115%;
        margin-left: 1%;
        font-size: 30px;
    }
    
    section.jadwal{
        width: 74.5%;
        padding-bottom: 40%;
    }
    section.jadwal .jadwal_judul{
        font-size: 50px;
        margin-left: -0.5%;
    }
    section.jadwal .jadwal_content .item{
        margin-left:-2%;
        margin-bottom:-80px ;
    }
    section.renungan .container{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        padding-left: 0%;
        margin-left: 5%;
    }
    section.renungan .container .gambar{
        width: 80%;
        height: 400px;
        margin-left: 15%;
        margin-top: -5%;
        margin-bottom: 5%;
    }
    section.renungan .container h1{
        margin-left: 0%;
    }

    section.lokasi_pertanyaan {
        display: flex;
        flex-direction: column;
        width: 80.1%;
    }
    section.lokasi_pertanyaan .maps iframe{
        width: 106%;
        height:650px;
        margin-top: -10%;
    }
    section.lokasi_pertanyaan .pertanyaan{
        width: 125%;
        height:850px;
        margin-left: -15%;
        margin-top: -10%;
    }
    footer{
        width: 102%;
        margin-left: -1%;
    }
    footer .container-info{
        display: flex;
        justify-content: space-between;
        
    }
    footer .container-info .info{
        flex-basis: 70%;
        padding-left:0% ;
    }
    footer .container-info .info .text ul{
        justify-content: left;
        margin-left: -1%;
    }
    footer .container-info .info .text ul li{
        padding: 5px;
    }
    footer .container-info .info .logo{
        width: 0;
    }
    footer .container-info .info .text h1{
        font-size: 315%;
    }
    footer .container-info .menu{
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
        margin-right: 10%;
    }
    footer .container-info .menu ul:nth-child(2){
        padding-left: 0%;
    }
}